<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://images.unsplash.com/photo-1517545084371-4a575dde2a02?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80');">
  <div class="container">
    <h1>Trouvez la bonne pleureuse pour vos funérailles</h1>
    <p>La meilleure pleureuse pour toutes sortes d'enterrements ou d'événements.</p>

  </div>
</div>

<div class="container">

<br>
<div class="cards">
  <%@pleureuses.each do |pleureuse| %>
  <%= link_to pleureuse_path(pleureuse) do  %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @photos.sample(1).join %>)">
    <%= pleureuse.pseudo %>
  </div>
  <% end %>
<% end %>
</div>
</div>
