          <h2>Modifier</h2>
          <%= simple_form_for(@booking) do |f| %>
          <%= f.input :start_date, as: :hidden, input_html: {class: "datepicker", id:"range_start"} %>
          <%= f.input :end_date,as: :hidden, input_html: {class: "datepicker", id:"range_end"} %>
          <%= f.button :submit, "Modifier", class: "btn-flat"%>
          <%end%>
