
          <h2>Modifier</h2>
        <%= simple_form_for(@booking) do |f| %>
          <%= f.input :start_date %>
          <%= f.input :end_date %>
          <%= f.button :submit, "Réserver", class: "btn-flat"%>
          <%end%>
