
<div class="container">
  <div class="row justify-content-center">
    <div class ="col-sm-6 col-sm-offset-6">
      <div class="jumbotron">
  <h1 class="display-4">Merci pour votre reservation</h1>
  <h2 class="lead"> <strong>Votre pleureuse est : <%= @pleureuse.pseudo %></strong></h2>
  <hr class="my-4">
    <p><strong>Starting date: </strong> <%= @booking.start_date %></p>
    <p> <strong>Ending date: </strong> <%= @booking.end_date %></p>
    <h2>Total price <%= @booking.total_price %> €</h2>
  <a class="btn-flat  " href="#" role="button">Payer</a>
</div>


    </div>
  </div>
</div>




