  <!-- Site footer -->
  <br>
  <footer class="site-footer">
      <div class="container w-100">
        <div class="row w-100">
          <div class="col-sm-12 col-md-6">
            <h6>A propos</h6>
            <p class="text-justify">Pleureuses : <i>devenez populaire après votre mort </i> est une initiative pour vous permettre de ne pas être enterré seul.</p>
            <p>Nous sommes là quand vous ne l'êtes plus</p>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Categories</h6>
            <ul class="footer-links">
              <li><a href="http://scanfcode.com/category/c-language/">Pleureuses</a></li>
              <li><a href="http://scanfcode.com/category/front-end-development/">Devenir Pleureuse</a></li>
              <li><a href="http://scanfcode.com/category/back-end-development/">La concurrance</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>LEARN MORE</h6>
            <ul class="footer-links">
              <li><a href="http://scanfcode.com/about/">A propos</a></li>
              <li><a href="http://scanfcode.com/contact/">Contact</a></li>
              <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Contribuer</a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by
         <a href="https://www.youtube.com/watch?v=eY9IGY8-NvE&list=PLE7E863E34331F743">Pleureuses</a>.
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" href="https://www.facebook.com/events/462322884657009/"><i class="fab fa-facebook-f "></i></a></li>
              <li><a class="twitter" href="https://twitter.com/meganamram?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class="fab fa-twitter"></i></a></li>
              <li><a class="dribbble" href="https://www.reddit.com/r/counting/"><i class="fab fa-reddit"></i></a></li>
              <li><a class="linkedin" href="https://www.linkedin.com/in/barackobama"><i class="fab fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
</footer>
