_search_bar.scss

#search {
  margin: 5px;
  border-radius: 5%;
}


.avatar {
  widows: 40px;
  height: 40px;
}

.avatar-border {
  widows: 30px;
  height: 30px;
}

.form-group {
  margin: 0 5px;
  border-radius: 5%;

}

.btn-primary {
  height: 30px;
}

.btn-outline-light {
  margin-left: 8px;
      height: 35px;
      vertical-align: middle;
      padding: 5px;
      width: 80px;

}

.text_field_tag {
  border-radius: 5%;
}

.form-inline {
  margin-left: 10px;
}
