_search_bar.scss

.seachbar {
  margin: 5px;
  border-radius: 10px;
}


.avatar {
  widows: 40px;
  height: 40px;
}

.avatar-border {
  widows: 30px;
  height: 30px;
}

.form-group {
  margin: 0 5px;
  border-radius: 5%;

}

.btn-primary {
  height: 30px;
}

.btn-outline-light {
  height: 36px;
  vertical-align:middle;
  padding: 0;
  width: 80px;

}

.text_field_tag {
  border-radius: 5%;
}

.form-inline {
  margin-left: 10px;
}

